<h1 class="mt-4 mb-3">New Coupon for <%=link_to @merchant.name, "/merchants/#{@merchant.id}" %></h1>

<%= render partial: '/partials/coupon_form', locals:
  {
    path: '/merchant/coupons',
    method: :post,
    name: @coupon.name,
    percent_off: @coupon.percent_off,
    dollar_off: @coupon.dollar_off,
    button_text: 'Create Coupon'
  } %>
